body {
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 20px;    
    margin-top: 50px;
}




h1{
    
    display: flex;
    align-items: center;    
    background-color:#ff3300;
    border-radius: 9px;
    border: 2px solid black;
    padding: 5px;
    position: relative;
    left: 230px;
    top: 40px;

}


.contenedor{
    display: flex;
    flex-direction: column;
    z-index: -1;
    top: 43px;
    left: 38%;    
    background-color: rgb( 255, 139, 1);
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
}
.imagen{
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 10%;
}

ul, li .texto{
    font-size: 12px;   
    list-style:none;
    margin: 10px; 
}
